<a href="https://colab.research.google.com/github/yuridellpozzo/Logica_de_Programacao/blob/main/Logica_de_Programacao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**CURSO LÓGICA DE PROGRAMAÇÃO COM PYTHON**

 ## **MATERIAL DE APOO - CURSO**

### **mais exemplos de markdown**

TITULO
> SUBTITULO
>> TOPICOS - DESCRIÇÃO - ALGO PERTENCENTE Á UM SUBTITULO, QUE  PERTENCE A UM TITULO GERAL.

para que serve o `print` do python

1.   Item de lista numerada
2.   Item de lista numerada


*   Item de lista com ponto " por * "
*   Item de lista com ponto " por * "

explicação de organização
> organização TOPICO OU SUBTITULO
> - PEGAR
> - USAR
> - TERMINAR
> - GUARDAR

EU ENCONTREI ISTE MATERIAL NO SITE E CURSO DO [JOVIANO](https://joviano.com/conteudos/?utm_source=youtube&utm_medium=org&utm_campaign=video&utm_term=88---cursos-gratuitos&utm_content=logica-de-programacao-com-python-v2023)

<div align="center"> <img src="https://joviano.com/wp-content/webp-express/webp-images/uploads/2022/10/Asset-10.png.webp" width="50%"> </div>

***

---

### **operações matematicas**

In [8]:
3-1

2

In [9]:
3 + 2

5

In [10]:
5*3

15

In [11]:
6/5

1.2

In [12]:
10//3

3

In [13]:
10 % 3

1

In [14]:
5 ** 3

125

### variáveis

- usando variaveis

In [15]:
x = 10

In [16]:
x = x**2

In [17]:
x = x/2

In [18]:
x

50.0

- penal com penal interno

In [19]:
def penalzao(numero):
  x = numero
  x = x **2
  x = x / 2
  print('o numero calculado é: ', x)

In [20]:
penalzao(7.5)

o numero calculado é:  28.125

#### Definições iniciais

- tipos de conteúdos das variaveis

>>Conteudo do tipo:


> *   valores numéricos (inteiros, quebrados, com virgula)
> *   valores textuais - caracteres (string, char)

> outros tipos de conteúdo que podem ter em uma varável:
- listas (tipo a lista de compras de casa)
- tabelas
- matrizes 2D/3D
- dicionarios (elementos com chave e valor)
- funções (def penalzao)
- entre outras diversas de afinidades etc...

#### Exemplos

In [21]:
3 + 5

8

In [22]:
3 + int("7")

10

In [23]:
"0,1," * 5

'0,1,0,1,0,1,0,1,0,1,'

In [24]:
nome = "joviano 88"

### interacao com o usuario

- vou querer perguntar um numero ao meu usuário e imprimir na tela o dobro dele

In [25]:
x = 5
x = x ** 2
x

25

In [26]:
y = input ("Digite o número desejado: ")
calculo = int(y) ** 2
print("o dobro do valor é :", calculo)

Digite o número desejado: 5
o dobro do valor é : 25

In [27]:
type (y)

str

In [28]:
type(calculo)

int

### variaveis agrupadoras (nativas do python)

- Acesse esse [link aqui](https://www.w3schools.com/python/python_datatypes.asp)

principais tipos de agrupadores nativos:
- lista
- dicionario
- tuplas

#### LISTAS

In [29]:
lista_de_compras = ["fruta", "legumes","bebidas","doces"]

In [30]:
lista_de_compras

['fruta', 'legumes', 'bebidas', 'doces']

In [31]:
lista_aleatoria = [1, 5, 8, "abacate", 9 ,"8",penalzao]

In [32]:
lista_aleatoria

[1, 5, 8, 'abacate', 9, '8', <function __main__.penalzao(numero)>]

In [33]:
lista_de_compras.append("sabão")
lista_de_compras

['fruta', 'legumes', 'bebidas', 'doces', 'sabão']

In [34]:
lista_de_compras.remove("doces")
lista_de_compras

['fruta', 'legumes', 'bebidas', 'sabão']

[clique aqui](https://www.w3schools.com/python/python_lists_methods.asp) e acesso os metodos de listas

In [35]:
frutas = ["maça", "banana","cereja"]
frutas.pop(1)

'banana'

In [36]:
frutas

['maça', 'cereja']

#### Dicionarios

In [37]:
aluno = {"nome": "joviano","cursos":"20","idade":25}

In [38]:
aluno

{'nome': 'joviano', 'cursos': '20', 'idade': 25}

In [39]:
aluno.keys()

dict_keys(['nome', 'cursos', 'idade'])

In [40]:
aluno.get("nome")

'joviano'

In [41]:
aluno["altura"] = 1.8

In [42]:
aluno

{'nome': 'joviano', 'cursos': '20', 'idade': 25, 'altura': 1.8}

In [43]:
aluno.pop("cursos")

'20'

In [44]:
aluno

{'nome': 'joviano', 'idade': 25, 'altura': 1.8}

In [45]:
aluno.keys()

dict_keys(['nome', 'idade', 'altura'])

- **TUPLAS** : são as listas de certa forma imutaveis, inalteraveis, sem edições, sempre constante da forma e com os elementos definidos.
- count()
- Index()

### Condicionais Simples [famoso SE]

Função para gravar o texto em um txt

In [46]:
def registrar_dados(nome_aluno,nota,arquivo_gravar):
  with open(arquivo_gravar, 'a') as txt:
    texto_gravar_na_linha = nome_aluno + ',' + str(nota) + '\n'
    txt.write(texto_gravar_na_linha)

Implementação do texto na condicional

In [47]:
aluno = {'nome':'pedro','nota':4}
nota = aluno.get('nota')
aluno_nome = aluno.get('nome')

In [48]:
type(nota)

int

In [49]:
limite = 5
folga = nota - limite
print("avaliando aluno", aluno_nome)
if nota >= limite :
    print("passou");
    print("sobrou",folga,"pontos")
  # gravar no arquivo txt nomeado 'apr.txt'
    registrar_dados(aluno_nome,nota,'apr.txt')
else:
    print("reprovou")
    print("faltou", abs(folga),"pontos")
  # gravar no arquivo txt nomeado 'rep.txt'
    registrar_dados(aluno_nome,nota,'rep.txt')

    print("finalizei")

avaliando aluno pedro
reprovou
faltou 1 pontos
finalizei

### Condicionais Compostas

In [50]:
carteira = 8
pizza = 50
x_salada = 10

In [51]:
if carteira >= pizza:
  sobra = carteira - pizza
  print('Vou comer PIZZA e ainda vai me sobrar', sobra, 'reais')
elif carteira >= x_salada:
  sobra = carteira - x_salada
  print('vou comer X SALADA e ainda vai me sobrar', sobra , 'reais')
else:
  print('não tenho dinheiro suficiente')

não tenho dinheiro suficiente

In [52]:
x = 5
y = 10

x > 2 or y <9

True

In [53]:
idade = 16
sexo = 'f'

if sexo == 'm' and idade>= 7 and idade <= 13:
  if idade <= 10:
    print (' time 1 M')
  else:
    print('time 2 M')

elif sexo == 'f' and idade>= 9 and idade <= 15:
  if idade <= 11:
    print (' time 1 F')
  else:
    print('time 2 F')
else:
  print('essa pessoa não pode jogar !!!')

essa pessoa não pode jogar !!!

### LOOPS

NOS TEMOS 2 TIPOS DE LOOPS
- for (para cada)
- while (enquanto)

#### FOR

In [54]:
lista_de_compras

['fruta', 'legumes', 'bebidas', 'sabão']

In [56]:
for item in lista_de_compras:
    print('Coloque o produto na sacola: ', item)
    print('Vamos para o próximo item')
    print('-'*30)

Coloque o produto na sacola:  fruta
Vamos para o próximo item
------------------------------
Coloque o produto na sacola:  legumes
Vamos para o próximo item
------------------------------
Coloque o produto na sacola:  bebidas
Vamos para o próximo item
------------------------------
Coloque o produto na sacola:  sabão
Vamos para o próximo item
------------------------------

In [58]:
base = 7

for item in [1,2,3,4,5,6,7,8,9,10]:
  print(f'A Multiplicação de {base} x {item} = {item * base}')
  print('-'*30)

A Multiplicação de 7 x 1 = 7
------------------------------
A Multiplicação de 7 x 2 = 14
------------------------------
A Multiplicação de 7 x 3 = 21
------------------------------
A Multiplicação de 7 x 4 = 28
------------------------------
A Multiplicação de 7 x 5 = 35
------------------------------
A Multiplicação de 7 x 6 = 42
------------------------------
A Multiplicação de 7 x 7 = 49
------------------------------
A Multiplicação de 7 x 8 = 56
------------------------------
A Multiplicação de 7 x 9 = 63
------------------------------
A Multiplicação de 7 x 10 = 70
------------------------------

In [59]:
base = 5

for item in range(10):
  multiplicador = item + 1
  print(f'A Multiplicação de {base} x {multiplicador} = {multiplicador * base}')
  print('-'*30)

A Multiplicação de 5 x 1 = 5
------------------------------
A Multiplicação de 5 x 2 = 10
------------------------------
A Multiplicação de 5 x 3 = 15
------------------------------
A Multiplicação de 5 x 4 = 20
------------------------------
A Multiplicação de 5 x 5 = 25
------------------------------
A Multiplicação de 5 x 6 = 30
------------------------------
A Multiplicação de 5 x 7 = 35
------------------------------
A Multiplicação de 5 x 8 = 40
------------------------------
A Multiplicação de 5 x 9 = 45
------------------------------
A Multiplicação de 5 x 10 = 50
------------------------------

In [61]:
base = 3

for item in range(10):
  multiplicador = item + 1
  txt = f'A Multiplicação de {base} x {multiplicador} = {multiplicador * base}'
  print(txt)
  registrar_dados(txt, '', 'taboada.txt')

A Multiplicação de 3 x 1 = 3
A Multiplicação de 3 x 2 = 6
A Multiplicação de 3 x 3 = 9
A Multiplicação de 3 x 4 = 12
A Multiplicação de 3 x 5 = 15
A Multiplicação de 3 x 6 = 18
A Multiplicação de 3 x 7 = 21
A Multiplicação de 3 x 8 = 24
A Multiplicação de 3 x 9 = 27
A Multiplicação de 3 x 10 = 30

#### WHILE

In [62]:
base = 5
qtd = 4

inicio = 1

while inicio <= qtd:
  txt = f'A Multiplicação de {base} x {inicio} = {inicio * base}'
  print(txt)

  inicio += 1

A Multiplicação de 5 x 1 = 5
A Multiplicação de 5 x 2 = 10
A Multiplicação de 5 x 3 = 15
A Multiplicação de 5 x 4 = 20

A espera da senha

In [63]:
while True:
  x = input ('Digite sua senha: ')
  if x =='root':
    print('login efetuado com Sucesso !')
    break
  else:
    print('senha incorreta')
    print('tente novamente')
    print('.'*30)

print('acesso liberado')

Digite sua senha: yuri
senha incorreta
tente novamente
..............................
Digite sua senha: dellpozzo
senha incorreta
tente novamente
..............................
Digite sua senha: root
login efetuado com Sucesso !
acesso liberado

### BIBLIOTECAS

São caixas com ferramentas especiais

In [65]:
import pandas as pd

In [74]:
df = pd.read_csv('rep.txt', header = None)

In [75]:
type(df)

pandas.core.frame.DataFrame

In [77]:
df['jovi'] = 'a'

In [79]:
df

       0  1 jovi
0  pedro  4    a